@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Chakra+Petch&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "calc";
  src: url(./assets/DejaVuSans-Bold.ttf);
}

@font-face {
  font-family: "calc-display";
  src: url(./assets/calc2.otf);
}

$display-font: "calc-display", monospace;
$body-font: "Chakra Petch", monospace;
$font-size: clamp(20px, 2rem, 40px);
$calculator-width: clamp(320px, 20rem, 800px);

$white: #f0f0f0;
$black: #222;
$black-2: #111;

$button-color-1: rgb(196, 192, 192);
$button-color-2: #2155c7;
$button-color-3: rgb(184, 28, 28);
$button-color-4: #c4661a;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: black;
  height: 100vh;
  width: 100vw;
  padding-top: 2rem;
}

#calculator {
  font-family: $body-font;
  font-size: $font-size;
  width: $calculator-width;
  aspect-ratio: 5/8;
  background: $black;
  padding: 1rem;
  gap: 1rem;
  border-radius: 8px;
  box-shadow: 0px 4px 8px $black;
  background: #444;
  margin: auto;
  display: grid;
  grid-template-areas:
    "display"
    "text"
    "buttons";
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 0.1fr 1fr;
}

#text {
  grid-area: text;
  font-family: "Chakra Petch", cursive;
  font-size: $font-size;
  white-space: nowrap;
  width: 100%;
  text-align: right;
  text-justify: right;
  color: white;
  text-shadow: 2px 2px 0px $black;
}

#display {
  box-shadow: inset 4px 4px $black;
  width: 100%;
  background: #222;
  color: $white;
  display: grid;
  font-family: "calc", monospace;
  grid-template-areas:
    "left top"
    "left bottom";
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  padding: 0 5%;
  white-space: nowrap;
  overflow: hidden;
  font-family: "calc", monospace;

  & > * {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    text-shadow: 1px 1px 8px rgb(26, 161, 224);
    flex-shrink: 1;
  }

  #display-left {
    grid-area: left;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  #display-top {
    grid-area: top;
    font-size: clamp(16px, 1.25rem, 24px);
  }

  #display-bottom {
    grid-area: bottom;
    font-size: clamp(32px, 2.5rem, 32px);
  }
}

button {
  outline: 0px solid $black;
  border: 1px solid $black;
  box-shadow: inset 1px 1px $black, 4px 4px $black;
  border-radius: 10px;
  font-family: $body-font;
  font-weight: 800;
  font-size: clamp(1.5rem, 2vw, 3rem);
  cursor: pointer;
  transition: box-shadow 200ms, font-size 200ms;
  &:hover {
    box-shadow: inset 2px 2px $black, 3px 3px $black;
  }
  &:active {
    box-shadow: inset 4px 4px $black, 2px 2px $black;
  }
}

//grid setup, background colors.
#buttons {
  grid-area: buttons;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  gap: 2%;

  .number {
    background-color: $button-color-1;
    color: $black;
  }
  .operator {
    background-color: $button-color-2;
    color: $white;
  }
  .clear {
    background-color: $button-color-3;
    color: $white;
  }
  .equal {
    background-color: $button-color-4;
    color: $white;
  }
  grid-template-areas:
    "allclear backspace sqrt divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "decimal zero equal add";
  #zero {
    grid-area: zero;
  }
  #one {
    grid-area: one;
  }
  #two {
    grid-area: two;
  }
  #three {
    grid-area: three;
  }
  #four {
    grid-area: four;
  }
  #five {
    grid-area: five;
  }
  #six {
    grid-area: six;
  }
  #six {
    grid-area: six;
  }
  #seven {
    grid-area: seven;
  }
  #eight {
    grid-area: eight;
  }
  #nine {
    grid-area: nine;
  }
  #equal {
    grid-area: equal;
  }
  #add {
    grid-area: add;
  }
  #subtract {
    grid-area: subtract;
  }
  #multiply {
    grid-area: multiply;
  }
  #divide {
    grid-area: divide;
  }
  #decimal {
    grid-area: decimal;
  }
  #clear {
    grid-area: backspace;
  }
  #allclear {
    grid-area: allclear;
  }
  #sqrt {
    grid-area: sqrt;
  }
}

section {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 0.8rem;
  background: $white;
  color: $black;
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  padding: 0.5rem 1rem;
  user-select: text;
  overflow: scroll;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: $white;
  color: $black;
  font-size: 24px;
  width: 100vw;
  font-family: "Chakra Petch", monospace;
}